/* @import '../app/mail/style/email.css'; */
@import '../app//keep/style/keep.css';
/* IMPORT KEEP AND EMAIL CSS */
@import './books.css';

/* FONTS */

@font-face {
    font-family: meri-regular;
    src: url(./fonts/Merriweather-Regular.ttf);
}

html {
    font-family: 'meri-regular';
}

body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #292929;
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    color: white;
}

.menu-btn {
    display: none;
}

.header-container {
    height: 100%;
}

.main-header .navbar-conntainer>* {
    width: 70px;
    height: 70px;
    border-right: 1px solid #1d1d1d;
}

.main-header .navbar-conntainer>*:first-child {
    border-left: 1px solid #1d1d1d;
}

.main-header .navbar-conntainer>*:hover {
    transition: background-color 0.3s;
    box-shadow: inset 0 -6px 0 #ffffff;
    color: #ffffff;
}

.nav-item {
    height: 100%;
    justify-content: center;
}

.navbar-conntainer .nav-item {
    color: #ffffff;
    font-size: 1rem;
    text-shadow: 0 1px 0 #1e1e1e;
    text-decoration: none;
    text-transform: capitalize;
}


button {
    cursor: pointer;
}

.app-header {
    background-color: lightgreen;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* APP -HOME */
.section-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.app-home {
    padding-top: 50px;
}

.app-home-box {
    cursor: pointer;
}

.hero-title {
    font-size: 3em;
    text-align: center;
}

.home-title {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}


/* EMAILS */

.read {
    background-color: lightgrey;
}

.email-bar {
    position: relative;
    background-color: lightgray;
    width: 100%;
    height: 2rem;
    border: 1px solid #575757;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 10px;
}

.email-bar-value {
    background-color: lightgreen;
    height: 100%;
    transition: all 1s;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.perc-email-txt {
    position: absolute;
    left: 50%;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-end {
    justify-content: flex-end;
}

.flex.center-justify {
    justify-content: center;
}

.flex.center-align {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited,
.btn {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    padding: 15px 40px;
    cursor: pointer;
    margin: 16px 0 16px 16px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
}

.btn:active {
    transform: translateY(-1px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* we want it to be behind the button */
    transition: all 0.4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated-color {
    background-color: #ff00008a;
    border: 1px solid black;
    color: white;
}

.btn-animated-color::after {
    background-color: #ff00008a;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* we want it to be behind the button */
    transition: all 0.4s;
}

/* Email Modal */

.modal {
    color: grey;
    font-family: lato-bold;
    position: fixed;
    width: 400px;
    height: 500px;
    /* padding: 1rem; */
    background-color: lightgray;
    opacity: 1;
    z-index: 1;
    /* transition: opacity 0.8s; */
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 1px 7px 15px 5px rgba(0, 0, 0, 0.28);
}

.modal-email-headline {
    width: 100%;
    height: 40px;
    background-color: #404040;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.email-modal-btn-close {
    color: white;
    border: none;
    background: none;
    margin-left: .3rem;
}

.email-side-menu-mobile {
    display: none;
}

.email-modal-headline-msg {
    color: white;
    display: inline-block;
    margin-left: .3rem;
    /* align-self: center; */
}

/* Email Form */

.email-form {
    height: calc(100% - 30px);
}

.email-form-to {
    flex: 1;
}

/* .email-form-subject{
    flex: 1;
} */

.email-form-body {
    flex: 8;
}

/* Email side menu */

.email-side-menu {
    /* background-color: lightskyblue; */
    margin-left: 10px;
}

.email-side-menu a {
    display: flex;
    align-items: center;
    height: 40px;
    width: calc(100% - 8px);
    text-decoration: none;
    line-height: 40px;
    padding-left: 20px;
}

/* .email-side-menu a.active{
    background-color: #ff00002f ;

} */

.email-side-menu a:hover {
    background-color: #ff000054;
    transform: scale(1.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0s background 0.2s;
    z-index: 10;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.current {
    /* background: #ff00002f; */
    background-color: #fce8e6;
}

.email-side-menu {
    flex: 2;
    max-width: 300px;
    margin-right: 1.5rem;
    /* ??? check! */
}

.email-list {
    flex: 9;
}

.email-list>li {
    margin-right: 40px;
    cursor: pointer;
}

.email-list>li:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

/*EMAIL PREVIEW */

.email-preview {
    padding: .5rem 1.5rem;
    /* justify-content: space-around; */
}

.email-preview-content {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.email-preview-title {
    margin-right: .3rem;
}

.email-preview-three-dots{
    display: none;
}

.email-preview-icons {
    display: none;
}

.email-preview-icons-show {
    margin-right: 30px;
    flex-wrap: wrap;
    display: flex;
    animation: fade_in_show .7s
}

.email-preview-icons-show>* {
    margin: .5rem;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.email-preview-icons>img {
    cursor: pointer;
    transition: transform .8s;
}

.email-preview-icons>img:not(:first-child) {
    margin-left: .5rem;
}

.email-preview-icons>img:hover {
    transform: scale(1.4);
}

.email-preview:hover {
    color: white;
    background-color: gray;
    transform: scale(1.05);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0s, background 0.2s;
    z-index: 10;
}

/* APP-SEARCH */

.app-search {
    opacity: 0.7;
    align-self: center;
}

.app-search-input {
    height: 35px;
    width: 200px;
    border: 0px;
    outline: transparent;
}

.app-select-filter {
    height: 35px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: transparent;
}

.app-select-sort {
    height: 35px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: transparent;
}

.icon-menu {
    margin-right: .5rem;
}

@media (max-width: 1190px) {
    .btn {
        padding: 7.5px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .email-preview:hover .email-preview-time {
        display: none;
    }
}

@media (max-width: 810px) {
    .btn {
        font-size: .8rem;
    }
}

@media (max-width: 730px) {

.email-filter{
    flex-direction: column;
}

.email-preview-time{
    display: none;
}

    .email-preview:hover {
        color: inherit;
        background-color: inherit;
        transform: scale(1);
        box-shadow: unset;
        transition: unset;
        z-index: unset;
    }

    .email-side-menu {
        display: none;
    }
    

    .menu-btn {
        display: block;
        font-size: 2rem;
        border: none;
        color: white;
        background: #292929;
    }

    .navbar-conntainer { /* dropdown mobile main menu */
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        align-items: center;
        transform: translateY(-100%);
        z-index: 1000;
        transition: transform 0.8s;
    }

    .main-header .navbar-conntainer>* {
        width: 100%;
        height: 90px;
        border-right: none;
    }

    .main-header .navbar-conntainer>*:first-child {
        border-left: none;
    }

    .main-header .navbar-conntainer>*:hover {
        border: 4px solid white;
        box-shadow: none;
    }

    .email-preview-icons {
        margin-right: 30px;
        flex-wrap: wrap;
        display: flex;
        animation: fade_in_show .7s
    }

    .email-preview-icons > img {
        width: 20px;
    }

    .main-header {
        /* padding: 0.5rem; */
    }

    .email-preview-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
    }

    .email-preview {
        position: relative;
        padding: .1rem 1rem;
        /* justify-content: space-around; */
    }

    .email-preview-title {
        margin-right: .3rem;
        margin-bottom: .2rem;
    }

    .email-preview-icons-show {
        display: block;
    }

    .email-preview:hover .email-preview-time {
        display: block;
    }

    .email-preview-container{
        margin-right: 0  !important;
    }

    .email-preview:hover .email-preview-time {
        display: none;
    }

    .email-side-menu-mobile {
        display: block;
        max-width: 100%;
    }


}










/* EMAIL DETAILS */

.sender-info>*:not(:last-child) {
    margin-right: 1.5rem;
}

.sender-info {
    margin-bottom: 2rem;
}

.details-email {
    margin-left: 20px;
}

.details-email>h1 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.details-email>img {
    cursor: pointer;
}

.sender-email-nickname {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.email-detail-body {
    margin-bottom: 2rem;
    white-space: pre-wrap;
}

.email-filter {
    align-self: center;
    margin: 20px;
    justify-content: start;
    align-items: flex-start;
}

.form-filter {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.menu-open .navbar-conntainer {
    transform: translateY(0);
}




@media (max-width: 1300px) {

    .home-container{
        margin: 40px;
    }

}

@media (max-width: 420px) {

    .home-container{
        margin: 10px;
        max-width: 300px;
    }
    .app-home-box{
        max-width: 250px;
    }

    .email-preview > h1 {
        margin-right: 1rem;
    }
    
    .email-preview-content {
        margin-right: 1rem;
    }
}

.search-container{
    margin-bottom: 10px;
}

