.app-header {
    background-color: lightgreen;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD

/* EMAILS */

.read {
    background-color: lightgrey;
}


/* HELPERS */
.flex{
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

=======
/* KEEP - APP */

.dynamicNotes-list{
    display: flex;
}

.dynamicNotes-preview-container {
    width: 250px;
    height: 400px;
    background-color: cyan;
    margin: 20px;
}
>>>>>>> ff215a979a72334cf72b00fa653111e4af8abe8d
