.app-header {
    background-color: lightgreen;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD
=======
/* KEEP - APP */

.dynamicNotes-list {
    display: flex;
}

.dynamicNotes-preview-container {
    width: 250px;
    height: 400px;
    background-color: cyan;
    margin: 20px;
}
>>>>>>> 81595b2f26463c1fbbef5bcb214ed1a4286519ad

/* EMAILS */

.read {
    background-color: lightgrey;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
<<<<<<< HEAD
}

/* KEEP - APP */

.dynamicNotes-list{
    display: flex;
}

.dynamicNotes-preview-container {
    width: 250px;
    height: 400px;
    background-color: cyan;
    margin: 20px;
}
=======
}
>>>>>>> 81595b2f26463c1fbbef5bcb214ed1a4286519ad
