/* IMPORT KEEP AND EMAIL CSS */

@import '../app//keep/style/keep.css';

button {
    cursor: pointer;
}


.app-header {
    background-color: lightgreen;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* EMAILS */

.read {
    background-color: lightgrey;
}

.email-bar {
    position: relative;
    background-color: lightgray;
    width: 100%;
    height: 2rem;
    border: 1px solid #575757;
    margin: 0 auto;
}

.email-bar-value {
    background-color: lightgreen;
    height: 100%;
    transition: all 2s;
}

.perc-email-txt {
    position: absolute;
    left: 50%;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-end {
    justify-content: flex-end;
}

.flex.center-justify {
    justify-content: center;
}

.flex.center-align {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Email Modal */

.modal {
    color: grey;
    font-family: lato-bold;
    position: fixed;
    width: 400px;
    height: 500px;
    /* padding: 1rem; */
    background-color: lightgray;
    opacity: 1;
    z-index: 1;
    /* transition: opacity 0.8s; */
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 1px 7px 15px 5px rgba(0, 0, 0, 0.28);
}

.modal-email-headline {
    width: 100%;
    height: 40px;
    background-color: #404040;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.email-modal-btn-close {
    color: white;
    border: none;
    background: none;
    margin-left: .3rem;
}

.email-modal-headline-msg {
    color: white;
    display: inline-block;
    margin-left: .3rem;
    /* align-self: center; */
}

/* Email Form */

.email-form {
    height: calc(100% - 30px);
}

.email-form-to {
    flex: 1;
}

/* .email-form-subject{
    flex: 1;
} */

.email-form-body {
    flex: 8;
}

/* Email side menu */
.email-side-menu {
    /* background-color: lightskyblue; */
}

.email-side-menu a {
    display: inline-block;
    height: 40px;
    width: calc(100% - 8px);
    text-decoration: none;
    line-height: 40px;
    padding-left: 8px;
}





/* .email-side-menu a.active{
    background-color: #ff00002f ;

} */

.email-side-menu a:hover {
    background-color: #ff000054;
    transform: scale(1.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0s, background 0.2s;
    z-index: 10;
}

.current {
    background: #ff00002f;
}


.email-side-menu1 {
    flex: 2;
    max-width: 300px;
    /* ??? check! */
}

.email-list {
    flex: 9;
}

/*EMAIL PREVIEW */
.email-preview {
    padding: .5rem 1.5rem;
    /* justify-content: space-around; */
}

.email-preview-content {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.email-preview-title {
    margin-right: .3rem;
}

.email-preview-icons {
    display: none;

}

.email-preview-icons-show {
    margin-right: 50px;
    display: block;
    animation: fade_in_show 1.5s
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.email-preview-icons > img {
    cursor: pointer;
    transition: transform .8s;
}

.email-preview-icons > img:not(:first-child) {
    margin-left: .5rem;
}

.email-preview-icons > img:hover {
    transform: scale(1.4);
}

.email-preview:hover {
    color: white;
    background-color: gray;
    transform: scale(1.05);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0s, background 0.2s;
    z-index: 10;
}