/* KEEP - APP */

/*Basic */

h2 {
    margin: 0;
    margin-block-end: 10px;
}

/* KEEP ADD */

.create-note {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainNoteContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 3px 0px 5px 0px #ccc;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.takeNoteInput {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    background-color: transparent;
    border: 0px solid;
}

.specificContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 3px 3px 5px 2px #ccc;
}

.specificInput {
    height: 40px;
    width: 500px;
    border-radius: 5px;
    background-color: transparent;
    border: 0px solid;
}

/* KEEP-ICON */

.noteTypeIcon {
    cursor: pointer;
    margin-inline-end: 5px;
}

.colorNote {
    width: 30px;
    cursor: pointer;
}

.addNoteBtn {
    cursor: pointer;
    width: 100%;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-inline-start: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pin {
    margin: 5px;
    position: absolute;
    right: 0;
}

.todo-toggle {
    cursor: pointer;
}

/* KEEP NOTE TODO */

.todo-done {
    color: gray;
    text-decoration: line-through;
}

/*KEEP -LIST */

.dynamicNotes-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    margin: 0 50px;
    padding: 0;
    gap: 20px;
    margin-block-start: 30px;
}

/*KEEP ARTICLE */

.dynamicNotes-preview-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #e7e7e7;
    border-radius: 20px;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

/* CARD */

.card {
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: translateY(20px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

/* CARD END */

.cards-btn {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-block-start: 20px;
    margin-inline-end: 20px;
    margin-inline-end: 20px;
}

.cards-content {
    flex: 5;
}

.cards-top {
    flex: 2
}

.colorArticleBtn {
    width: 25px;
    cursor: pointer;
}

/* title */

.note-title {
    text-shadow: hsl(60, 6%, 77%) 1px 1px 0px, #9C9C9C 2px 2px 0px;
}


/*KEEP SEARCH BOX */

.search {
    border: 1px solid #c4c4c4;
    width: 500px;
    overflow-x: hidden;
    display: flex;
    border-radius: 50px;
    font-size: 18px;
    left: 30%;
    top: 200px;
}

.search input {
    width: 300px;
    height: 65px;
    border: none;
    padding: 8px 20px;
    outline: none;
    font-size: 18px;
}

.button-src {
    padding: 10px 110px;
    display: inline-block;
}

.button-src button {
    padding: 10px 35px 10px 35px;
    border-radius: 50px;
    border: none;
    margin: 9px 7px;
    background-color: #FF7A00;
    color: #ffffff;
    font-size: 18px;
}

/* END SEARCH BOX  

/*keep-filter*/

.keep-filter {
    display: flex;
    justify-content: center;
    margin-block-end: 20px;
}

.logo{
    margin-inline-start: 70px;
}

.home-title{
    cursor: pointer;
}